.tiempo{
    top: 10%;
    left: 30%;
    right: 10%;
    bottom: 85%;
    position: fixed;

    background-color: #000000;
    color: #ffffff;
    border-style: solid;
    border: 5px outset #ffffff;
    border-radius: 0px;
}
audio{
    display: none;
}
button{
    height: 40px;
    width: 14%;
    background-color: #ffffff;
}
#enviar{
    background-color: #00ff00;
    width: 19%;
}
#signo{
    background-color: #ff0000;
    width: 19%;
}
